@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .toggle-line {
    @apply w-full h-[2.6px] md:h-[2.7px] rounded-2xl block bg-white transition-all duration-[0.6s];
  }
}

html,
body {
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  width: 0;
  border-radius: 4.5rem;
  background-color: transparent !important;
}

body::-webkit-scrollbar-track {
  background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}

body::-webkit-scrollbar-track-piece {
  display: none;
}

section {
  padding-block: 6rem;
}

footer {
  padding-block: 1rem;
}

nav ul li a.active {
  color: #f6e137;
}
